/* Global Styles */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(26, 14, 192);
}

.container {
    max-width: 1000px;
    background: #21237e;
    margin: 0 auto;
    padding: 20px;
    border-radius: 30px;
}

.link{
    color: #1316aa;
}
a{
    text-decoration: none;
    background: rgb(9, 21, 196);
}a
/* Forms */

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: 200;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 30%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0069d9;
}


/* Notifications */

.notification {
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.warning {
    background-color: #fff3cd;
    border-color: #ffeeba;
    color: #856404;
}